@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

.nav-link:hover {
    border: white solid 1px;
}

body {
    overflow-x: hidden;
    
}

#imagen-fondo-main {
    background-image: url(/img/404error/Argentina-Bandera\ -\ copia.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(112, 205, 241);
}

i {
    color: yellow;
}

.diseño-titulo-h1 {
    font-size: 500%;
    font-family: 'Fredoka One', cursive;
}

#margenes-contenedor-imagen {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 200px;
}

#margenes-contenedor-texto {
    padding-top: 100px;
}

#margenes-contenedor {
    padding-top: 170px;
}

h5 {
    font-family: 'Fredoka One', cursive;
}

@media all and (max-width: 576px) {
    .diseño-titulo-h1 {
        font-size: 300%;
        font-family: 'Fredoka One', cursive;
    }

    #margenes-contenedor-texto {
        padding-top: 40px;
    }

    #margenes-contenedor-imagen {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 60px;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .diseño-titulo-h1 {
        font-size: 350%;
        font-family: 'Fredoka One', cursive;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .diseño-titulo-h1 {
        font-size: 350%;
        font-family: 'Fredoka One', cursive;
    }
}