.nav-link:hover{
    border:white solid 1px
}

*{
    margin: 0;
    padding: 0git;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.card{
  margin:10px;
}

.button1{
background-color: greenyellow;
border-radius: 15px;
}